.nav{
    display: flex;
    gap: 10px;
}
.nav a{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px 15px;
    width: 70px;
}
.nav .active{
    background-color: #000;
    color: #fff;
}