.header{
    background-color: #fff;
    border-bottom: 1px solid #000;
    left: 0;
    right: 0;
    max-height: 80px;
    padding: 22px 0;
    position: fixed;
    top: 0;
}
.header div{
    align-items: center;
    display: flex;
    justify-content: space-between;
}